body {
    background: black;
    color: white;
    margin: 0;
    position: absolute;
    width: 100%;
    /* top: 0; */
    /* left: 0; */
}

.dashboard
{
	color: #86fd06;
}
.numeric-display
{
	font-size: 32pt;
	font-family: monospace;
}

.big-button div
{
	background: #86fd06;
	border-radius: 4px;
	width: 40px;
	/* height: 100px; */
	vertical-align: middle;
	margin: auto;
	text-align: center;
	color: black;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 1.5em;
}

.big-button div:hover
{
	background: black;
	color: #86fd06;
}

.centre {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.centre-panel
{
	text-align: center; 
	margin-left: auto;
	margin-right: auto;
}