body {
    background: black;
    color: white;
}

.dashboard
{
	color: #86fd06;
}
.numeric-display
{
	font-size: 80pt;
	font-family: monospace;
}

.big-button div
{
	background: #86fd06;
	border-radius: 16px;
	width: 200px;
	/* height: 100px; */
	vertical-align: middle;
	margin: auto;
	text-align: center;
	color: black;
	padding-top: 24px;
	padding-bottom: 24px;
	font-size: 8em;
}

.big-button div:hover
{
	background: black;
	color: #86fd06;
}

.centre-panel
{
	margin-top: 60px;
	text-align: center; 
	margin-left: auto;
	margin-right: auto;
}