
<div ng-show="CurveResult == null">
    <div class="numeric-display">{{WheelSpeedKph.toFixed(2)}}km/h</div>
</div>

<div ng-show="CurveResult != null">

    <div class="small-numeric-display">Coeff: {{CurveResult.Curve.Coefficient.toFixed(2)}}</div>
    <div class="small-numeric-display">Exponent: {{CurveResult.Curve.Exponent.toFixed(2)}}</div>
    <div class="small-numeric-display">Fit: {{CurveResult.Curve.Fit.toFixed(2)}}</div>
    <div class="small-numeric-display">Ignored data: {{(IgnoredDataProportion() * 100).toFixed(0)}}%</div>

    <div class="big-button" ng-click="Ok()">
        <div class="fa fa-check"></div>
    </div>

    <div class="big-button" ng-click="Redo()">
        <div class="fa fa-refresh"></div>
    </div>

    <div class="big-button" ng-click="Cancel()">
        <div class="fa fa-times"></div>
    </div>
</div>

